- name: Ruby | Install RVM
  ansible.builtin.import_role:
    name: rvm.ruby
  vars:
    rvm1_rubies:
      - 'ruby-{{ ruby_version }}'
    rvm1_install_path: '/usr/local/rvm'
    rvm1_install_flags: '--auto-dotfiles'
    rvm1_user: 'root'
  tags:
    - molecule-idempotence-notest

- name: Ruby | Set variables
  ansible.builtin.set_fact:
    gem_executable: '/usr/local/rvm/rubies/ruby-{{ ruby_version }}/bin/gem'
