- name: Prepare
  hosts: all
  become: yes
  gather_facts: false

  vars_files:
    - ../../vars.yml

  tasks:
    - name: Test Nginx Server
      ansible.builtin.uri:
        url: http://127.0.0.1:80/
      register: nginx_uri

    - name: Test Gollum Server
      ansible.builtin.uri:
        url: http://127.0.0.1:4567/
      register: gollum_uri

    - name: Get gitconfig content
      ansible.builtin.slurp:
        src: '/home/wiki/.gitconfig'
      register: wiki_gitconfig

    - name: Assertions
      assert:
        that:
          - nginx_uri.status == 200
          - gollum_uri.status == 200
          - nginx_uri.url is search("\/Home")
          - gollum_uri.url is search("\/Home")
          # [user]
          #         name = Gollum Wiki
          - wiki_gitconfig.content == "W3VzZXJdCgluYW1lID0gR29sbHVtIFdpa2kK"
